@page "/403Forbidden"



@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation


<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <i class="fas fa-exclamation-triangle fa-2x"></i>
            <span style="font-size: xx-large;">403 FORBIDDEN</span>
        </Column>
    </Row>

    <div class="row">
        <div class="col-sm">
            <div style="height:30px;"></div>
        </div>
    </div>

</Container>


<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <i class="fas fa-exclamation"></i>
            <span style="font-size: medium;">Client and Server Version are not the same!</span>
        </Column>
    </Row>

    <div class="row">
        <div class="col-sm">
            <div style="height:20px;"></div>
        </div>
    </div>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <span style="font-size: small;">Please update your application or empy the cache.</span>
        </Column>
    </Row>

</Container>


@code {

}
