@page "/about"

@using M2FDto
@using M2FBitbucketTestPWAClient.Components.About

@inject IJSRuntime JSRuntime
@inject IHttpClientFactory httpClientFactory
@inject M2FAboutDtoServer aboutInfoServer
@inject AboutDto aboutInfoClient
@inject NavigationManager Navigation
@inject ApiManager apiManager
@inject ILogger logger
@inject IClientMailManager mailManager

<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <i class="fas fa-info fa-2x"></i>
            <span style="font-size: xx-large;">About</span>
        </Column>
    </Row>

    <div class="row">
        <div class="col-sm">
            <div style="height:30px;"></div>
        </div>
    </div>

</Container>


<Container>
    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Pills="true">
        <Items>
            <Tab Name="general">General</Tab>
            <Tab Name="server">Server</Tab>
            <Tab Name="client">Client</Tab>
            <Tab Name="user">User</Tab>
        </Items>
        <Content>
            <TabPanel Name="general">
                <Container>

                    <DevOpsInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></DevOpsInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <InstallationPackageInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></InstallationPackageInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <RepositoryInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></RepositoryInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <ConnectionInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></ConnectionInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                </Container>

            </TabPanel>

            <TabPanel Name="server">
                <Container>
                    <AssemblyInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></AssemblyInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <RuntimeInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></RuntimeInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <EnvironmentInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoServer"></EnvironmentInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                </Container>

            </TabPanel>

            <TabPanel Name="client">
                <Container>
                    <AssemblyInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoClient"></AssemblyInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <RuntimeInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoClient"></RuntimeInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                    <EnvironmentInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoClient"></EnvironmentInformation>

                    <AboutInformationDivider></AboutInformationDivider>

                </Container>

            </TabPanel>

            <TabPanel Name="user">
                <Container>
                    <LoggedUserInformation tooltipCustomTemplate="@tooltipCustomTemplate" aboutInfo="@aboutInfoClient"></LoggedUserInformation>

                    <AboutInformationDivider></AboutInformationDivider>
                </Container>

            </TabPanel>
        </Content>
    </Tabs>
</Container>


<Modal @ref="errorModal">
    <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
        <ModalHeader style="color: white ; background-color: darkorange; ">
            <i class="fas fa-server fa-2x"></i>
            <ModalTitle Style="position: absolute; left: 60px;">Esito lettura - Errore</ModalTitle>
        </ModalHeader>
        <ModalBody IsCentered="true">
            <span>Esito:</span>
            <span>@modalMessage</span>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideErrorModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

}
