@page "/claims"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using M2FDto.Constant 
@attribute [Authorize(Roles= IdentityServerConstantDto.AuthorizationRoleAdmin)]

@inject HttpClient Http

<h3>Claims</h3>

<AuthorizeView>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>

@code {

}
