﻿@page "/integrationTests"

@using M2FDto

@inject HttpClient httpClient
@inject IJSRuntime JSRuntime
@inject ApiManager apiManager
@inject ILogger logger
@inject IClientMailManager mailManager
@inject AboutDto aboutInfoClient

<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <i class="fas fa-tasks fa-2x"></i>
            <span style="font-size: xx-large;">Integration tests</span>
        </Column>
    </Row>
</Container>
<br />
<Container>
    @*CALL AIF SERVICE*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test aif service</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestAifService" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>

<Container>
    @*Backend some stateless backend*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test Method OK</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestMethodOk" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>


<Container>
    @*Backend some dummy backend that throw exception*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test Method Exception</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestMethodException" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>

<Container>
    @*frontend insert Server log*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test Server log</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestMethodServerLog" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>

<Container>
    @*frontend insert LocalMemory log*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test Local Memory log</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestMethodLocalMemoryLog" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>

<Container>
    @*frontend Send Mail*@
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-server fa-2x"></i>
            <span style="font-size: xx-large;">Test Send Mail</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button Size="Size.Large" Color="Color.Primary" Clicked="@TestMethodSendMail" IsCentered="true">GO!</Button>
        </Column>
    </Row>
    <br />
    <hr style="border-top: 1px dotted gray;" />
    <br />
</Container>


<Modal @ref="testAifServiceResult">
    <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
        <ModalHeader style="color:aliceblue; background-color: rgb(40, 180, 200);">
            <i class="fas fa-server fa-2x"></i>
            <ModalTitle Style="position: absolute; left: 60px;">Integration test: aif service result</ModalTitle>
        </ModalHeader>
        <ModalBody IsCentered="true">
            <p><strong>Test output</strong></p>
            <ul>
                <li>
                    <i class="fas fa-calendar fa-1x"></i>
                    <span>CommTime1:</span>
                    <span>@response.CommTime1</span>
                </li>
                <li>
                    <i class="fas fa-calendar fa-1x"></i>
                    <span>CommTime2:</span>
                    <span>@response.CommTime2</span>
                </li>
                <li>
                    <i class="fas fa-times-circle fa-1x"></i>
                    <span>Action:</span>
                    <span>@response.Action</span>
                </li>
                <li>
                    <i class="fas fa-users-cog fa-1x"></i>
                    <span>Code:</span>
                    <span>@response.Code</span>
                </li>
                <li>
                    <i class="fas fa-server fa-1x"></i>
                    <span>Description:</span>
                    <span>@response.Description</span>
                </li>
            </ul>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideTestAifServiceResult">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="infoModal">
    <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
        <ModalHeader style="color:white; background-color: darkgreen;">
            <i class="fas fa-server fa-2x"></i>
            <ModalTitle Style="position: absolute; left: 60px;">Esito lettura - Info</ModalTitle>
        </ModalHeader>
        <ModalBody IsCentered="true">
            <span>Esito:</span>
            <span>@modalMessage</span>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideInfoModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="errorModal">
    <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
        <ModalHeader style="color: white ; background-color: darkorange; ">
            <i class="fas fa-server fa-2x"></i>
            <ModalTitle Style="position: absolute; left: 60px;">Esito lettura - Errore</ModalTitle>
        </ModalHeader>
        <ModalBody IsCentered="true">
            <span>Esito:</span>
            <span>@modalMessage</span>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideErrorModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

