@page "/localLogs"


@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject LocalMemoryLog localMemoryLog
@inject ILogger logger

<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <i class="fas fa-clipboard-list fa-2x"></i>
            <span style="font-size: xx-large;">Local Logs</span>
        </Column>
    </Row>

    <div class="row">
        <div class="col-sm">
            <div style="height:30px;"></div>
        </div>
    </div>

</Container>

<Container>

    <div class="col-md-4">
        <button class="btn btn-primary" @onclick="@this.Refresh">Refresh</button>
        <button class="btn btn-primary" @onclick="@this.RemoveLogs">Clear All Logs</button>
    </div>

</Container>

<Container>
    <DataGrid TItem="LocalLogDto"
              Data="@this.LogsList"
              RowStyling="@this.OnRowStyling"
              SelectedRowStyling="@this.OnSelectedRowStyling"
              ShowPager="true" ShowCaptions="true" ShowPageSizes="true" PageSize="50"
              FilterMethod="DataGridFilterMethod.Contains">
        <DataGridColumns>
            @*<DataGridColumn TItem="LocalLogDto" Field="@nameof(LocalLogDto.Key)" Caption="Key"
                Editable="false"
                Filterable="true"
                Sortable="true" />*@

            @*<DataGridDateColumn TItem="LocalLogDto" Field="@nameof(LocalLogDto.Date)" Caption="Date"
                Editable="false"
                Filterable="true"
                Sortable="true" />*@


            <DataGridColumn TItem="LocalLogDto" Field="@nameof(LocalLogDto.Date)" Caption="Date" Editable="false" Filterable="true" Sortable="true">
                <DisplayTemplate>
                    @{
                        var date = (context as LocalLogDto)?.Date;

                        if (date != null)
                        {
                            @($"{date.Value.ToString("yyyy-MM-dd HH:mm:ss:fff", System.Globalization.CultureInfo.InvariantCulture)}")
                        }
                    }
                </DisplayTemplate>
            </DataGridColumn>



            <DataGridColumn TItem="LocalLogDto" Field="@nameof(LocalLogDto.Level)" Caption="Level"
                            Editable="false"
                            Filterable="true"
                            Sortable="true" />
            <DataGridColumn TItem="LocalLogDto" Field="@nameof(LocalLogDto.Log)" Caption="Log"
                            Editable="false"
                            Filterable="true"
                            Sortable="true" />

        </DataGridColumns>
    </DataGrid>
</Container>

@code {

}
