@using M2FDto.Constant

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">M2FBitbucketTestPWAClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <AuthorizeView Roles=@IdentityServerConstantDto.AuthorizationRoleAdmin>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="claims">
                        <i class="fas fa-tasks"></i> Claims
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles=@IdentityServerConstantDto.AuthorizationRoleAdmin>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="integrationTests">
                        <i class="fas fa-tasks"></i> Integration tests
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles=@IdentityServerConstantDto.AuthorizationRoleAdmin>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="appSettings">
                        <i class="fas fa-file-code"></i> App Settings
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles=@IdentityServerConstantDto.AuthorizationRoleTester>
            <Authorized>
                <li class="nav-item px-3">
                    <a href="swagger" target="_blank">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Swagger
                    </a>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </li>

        <AuthorizeView Roles=@IdentityServerConstantDto.AuthorizationRoleTester>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="localLogs">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Local Logs
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>


        
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
