﻿@using M2FDto
@using M2FDto.About

@*
    ASSEMBLY INFORMATION
*@

<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-cubes" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left: 30px;">Assembly Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

    </Column>
</Row>

<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblycompanyattribute?view=netcore-3.1">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CompanyTitle" style="margin-top:10px;">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-building fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Company</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.AssemblyInformation.Company</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblycopyrightattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CopyrightTitle">
        <div class="col-sm">
            <i class="fas fa-copyright fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Copyright</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.AssemblyInformation.Copyright</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyproductattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@ProductTitle">
        <div class="col-sm">
            <i class="fas fa-box-open fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Product</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.AssemblyInformation.Product</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyversionattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@VersionTitle">
        <div class="col-sm">
            <i class="fas fa-file fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Version</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.AssemblyInformation.Version</span>
        </div>
    </div>
</a>
<a target="_blank" href="@aboutInfo.SourceCodeRepositoryInformation.LastOriginCommit">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@InformationalVersionTitle">
        <div class="col-sm">
            <i class="fas fa-file fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Informational Version</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.AssemblyInformation.InformationalVersion</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblyconfigurationattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@ConfigurationTitle">
        <div class="col-sm">
            <i class="fas fa-wrench fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Configuration</span>
        </div>
        <div class="col-sm">
            @{
                if (string.Compare(aboutInfo.AssemblyInformation.Configuration, "DEBUG", true) == 0)
                {
                    <span class="badge badge-danger">@aboutInfo.AssemblyInformation.Configuration</span>
                }
                else if (string.Compare(aboutInfo.AssemblyInformation.Configuration, "RELEASE", true) == 0)
                {
                    <span class="badge badge-success">@aboutInfo.AssemblyInformation.Configuration</span>
                }
                else
                {
                    <span class="badge badge-secondary">@aboutInfo.AssemblyInformation.Configuration</span>
                }
            }
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblycultureattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CultureTitle">
        <div class="col-sm">
            <i class="fas fa-globe-americas fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Culture</span>
        </div>
        <div class="col-sm">
            @{
                if (!string.IsNullOrWhiteSpace(aboutInfo.AssemblyInformation.Culture))
                {
                    <span class="badge badge-light">@aboutInfo.AssemblyInformation.Culture</span>
                }
                else
                {
                    <span class="badge badge-secondary">Value not available</span>
                }
            }
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assemblytrademarkattribute?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@TrademarkTitle">
        <div class="col-sm">
            <i class="fas fa-trademark fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Trademark</span>
        </div>
        <div class="col-sm">
            @{
                if (!string.IsNullOrWhiteSpace(aboutInfo.AssemblyInformation.Trademark))
                {
                    <span class="badge badge-light">@aboutInfo.AssemblyInformation.Trademark</span>
                }
                else
                {
                    <span class="badge badge-secondary">Value not available</span>
                }
            }
        </div>
    </div>
</a>
@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // ASSEMBLY INFORMATION

    private string CompanyTitle =
    $"<em><strong><span class='tooltip-title-azure'>Company</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string CopyrightTitle =
        $"<em><strong><span class='tooltip-title-azure'>Copyright</span></strong /></em>" +
        "<br />" +
        "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string ProductTitle =
    $"<em><strong><span class='tooltip-title-azure'>Product</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string VersionTitle =
    $"<em><strong><span class='tooltip-title-azure'>Version</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "<span>Semantic Versioning</span>" +
    "<br />" +
    "<br />" +
    "<span>Follows the pattern:</span>" +
    "<br />" +
    "<br />" +
    "<span>major.minor.patch.commitCounter</span>" +
        "<br />" +
        "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string InformationalVersionTitle =
        $"<em><strong><span class='tooltip-title-azure'>Informational Version</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "<span>Follows the pattern:</span>" +
        "<br />" +
        "<br />" +
        "Version | Officiality | Commit Hash" +
        "<br />" +
        "<br />" +
    "Click the link to open information page about the commit that had generated this assembly." +
        "<br />" +
        "<br />";

    private string ConfigurationTitle =
    $"<em><strong><span class='tooltip-title-azure'>Configuration</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "This property has only 2 values:" +
    "<br>" +
    "<br>" +
    "<ul>" +
    "<li><span class='badge badge-danger'>Debug</span></li>" +
    "<li><span class='badge badge-success'>Release</span></li>" +
    "</ul>" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string CultureTitle =
        $"<em><strong><span class='tooltip-title-azure'>Culture</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string TrademarkTitle =
    $"<em><strong><span class='tooltip-title-azure'>Trademark</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";
}
