﻿@using M2FDto
@using M2FDto.About

@*
    HTTPCONTEXT CONNECTION INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-wifi" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">Connection Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span><a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo?view=aspnetcore-5.0" target="_blank">MSDN: Microsoft.AspNetCore.Http.ConnectionInfo Class</a></span>
    </Column>
</Row>

<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.clientcertificate?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@ClientCertificateTitle" style="margin-top:10px;">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-certificate" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Client Certificate</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.ClientCertificate</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.id?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@IdTitle">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-certificate" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Id</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.Id</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.localipaddress?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@LocalIpAddressTitle">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-ethernet" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Server IP Address</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.LocalIpAddress</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.localport?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@LocalPortTitle">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-door-open" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Server Port</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.LocalPort</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.remoteipaddress?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@RemoteIpAddressTitle">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-ethernet" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Client IP Address</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.RemoteIpAddress</span>
        </Column>
    </Row>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.connectioninfo.remoteport?view=aspnetcore-5.0">
    <Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@RemotePortTitle">
        <Column ColumnSize="ColumnSize.Is6">
            <i class="fas fa-door-open" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span>Client Port</span>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <span class="badge badge-light">@aboutInfo.HttpContextConnectionInformation.RemotePort</span>
        </Column>
    </Row>
</a>

@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // HTTPCONTEXT CONNECTION INFORMATION

    private string ClientCertificateTitle =
$"<em><strong><span class='tooltip-title-azure'>Client Certificate</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";

    private string IdTitle =
    $"<em><strong><span class='tooltip-title-azure'>Id</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string LocalIpAddressTitle =
    $"<em><strong><span class='tooltip-title-azure'>Local IP Address</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string LocalPortTitle =
    $"<em><strong><span class='tooltip-title-azure'>Local Port</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string RemoteIpAddressTitle =
    $"<em><strong><span class='tooltip-title-azure'>Remote IP Address</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string RemotePortTitle =
    $"<em><strong><span class='tooltip-title-azure'>Remote Port</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";
}
