﻿@using M2FDto
@using M2FDto.About

@*
    DEVOPS INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-infinity" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">DevOps Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span style="font-size: medium;"><a href="http://infomerlo/sites/Applicativi/Documenti/DevOps" target="_blank">INFOMERLO: DevOps Documentation</a></span>
    </Column>
</Row>

<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OfficialityTitle" style="margin-top:10px;">
    <div class="col-sm">
        <i class="fas fa-bullhorn fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Officiality</span>
    </div>
    <div class="col-sm">
        @{
            if (string.Compare(aboutInfo.DevOpsInformation.Officiality, "UNOFFICIAL RELEASE", true) == 0)
            {
                <span class="badge badge-danger">@aboutInfo.DevOpsInformation.Officiality</span>
            }
            else if (string.Compare(aboutInfo.DevOpsInformation.Officiality, "RELEASE CANDIDATE", true) == 0)
            {
                <span class="badge badge-warning">@aboutInfo.DevOpsInformation.Officiality</span>
            }
            else if (string.Compare(aboutInfo.DevOpsInformation.Officiality, "OFFICIAL RELEASE", true) == 0)
            {
                <span class="badge badge-success">@aboutInfo.DevOpsInformation.Officiality</span>
            }
            else
            {
                <span class="badge badge-secondary">Value not available</span>
            }
        }
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineNameTitle">
    <div class="col-sm">
        <i class="fas fa-cogs fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Pipeline Name</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.PipelineName</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineCounterTitle">
    <div class="col-sm">
        <i class="fas fa-sort-numeric-up fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Pipeline Counter</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.PipelineCounter</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
    <div class="col-sm">
        <i class="fas fa-tag fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Pipeline Label</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.PipelineLabel</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineTriggerUserTitle">
    <div class="col-sm">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Pipeline Trigger User</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.PipelineTriggerUser</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@MaterialHasChangedTitle">
    <div class="col-sm">
        <i class="fas fa-sync-alt fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Material Has Changed</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.MaterialHasChanged</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@BuildDateTitle">
    <div class="col-sm">
        <i class="fas fa-calendar-alt fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Build Date</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.BuildDate.Split(" ").FirstOrDefault()</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@BuildTimeTitle">
    <div class="col-sm">
        <i class="fas fa-clock fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Build Time</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.BuildDate.Split(" ").LastOrDefault()</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@BuildServerTitle">
    <div class="col-sm">
        <i class="fas fa-server fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Build Server</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.BuildServer</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@BuildUserTitle">
    <div class="col-sm">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Build User</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.DevOpsInformation.BuildUser</span>
    </div>
</div>
@*<a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["Init"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">Init-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["Init"]</span>
            </div>
        </div>
    </a>
    <a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["UnitTest"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">UnitTest-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["UnitTest"]</span>
            </div>
        </div>
    </a>
    <a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["Build"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">Build-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["Build"]</span>
            </div>
        </div>
    </a>
    <a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["InstallationPackage"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">InstallationPackage-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["InstallationPackage"]</span>
            </div>
        </div>
    </a>
    <a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["Deploy"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">Deploy-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["Deploy"]</span>
            </div>
        </div>
    </a>
    <a target="_blank" href="@aboutInfo.DevOpsInformation.Stages["IntegrationTest"]">
        <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@PipelineLabelTitle">
            <div class="col-sm">
                <i class="fas fa-stream fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
                <span class="">IntegrationTest-Stage</span>
            </div>
            <div class="col-sm">
                <span class="badge badge-light">@aboutInfo.DevOpsInformation.Stages["IntegrationTest"]</span>
            </div>
        </div>
    </a>*@
@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // DEVOPS INFORMATION

    private string OfficialityTitle =
$"<em><strong><span class='tooltip-title-azure'>Officiality</span></strong /></em>" +
"<br />" +
"<br />" +
"This property has 4 values:" +
"<br>" +
"<br>" +
"<ul>" +
"<li><span class='badge badge-danger'>UNOFFICIAL RELEASE</span><br />GIT 'dev' branch</li>" +
"<li><span class='badge badge-warning'>RELEASE CANDIDATE</span><br />GIT 'vX.Y.Z-rc' branches</li>" +
"<li><span class='badge badge-success'>OFFICIAL RELEASE</span><br />GIT 'vX.Y.Z' branches</li>" +
"<li><span class='badge badge-secondary'>Value not available</span><br />Other scenarios</li>" +
"</ul>";

    private string PipelineNameTitle =
        $"<em><strong><span class='tooltip-title-azure'>Pipeline Name</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "Name of the CI/CD server pipeline that had generated this assembly." +
        "<br />" +
        "<br />";

    private string PipelineCounterTitle =
        $"<em><strong><span class='tooltip-title-azure'>Pipeline Counter</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "Represents the number of runs for the pipeline." +
        "<br />" +
        "<br />";

    private string PipelineLabelTitle =
        $"<em><strong><span class='tooltip-title-azure'>Pipeline Label</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "Pipeline Label" +
        "<br />" +
        "<br />";

    private string PipelineTriggerUserTitle =
        $"<em><strong><span class='tooltip-title-azure'>Pipeline Trigger User</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "This property has 2 values:" +
        "<br>" +
        "<br>" +
        "<ul>" +
        "<li><span class='badge badge-light'>changes</span><br />When the pipeline starts automatically</li>" +
        "<li><span class='badge badge-light'>Real username of a domain user</span><br />When the pipeline is triggered by a domain user</li>" +
        "</ul>";

    private string MaterialHasChangedTitle =
        $"<em><strong><span class='tooltip-title-azure'>Material Has Changed</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "This property has 2 values:" +
        "<br>" +
        "<br>" +
        "<ul>" +
        "<li><span class='badge badge-light'>True</span><br />When the pipeline starts automatically</li>" +
        "<li><span class='badge badge-light'>False</span><br />When the pipeline is triggered by a domain user</li>" +
        "</ul>";

    private string BuildDateTitle =
$"<em><strong><span class='tooltip-title-azure'>Build Date</span></strong /></em>" +
"<br />" +
"<br />" +
"Build date." +
"<br />" +
"<br />";

    private string BuildTimeTitle =
    $"<em><strong><span class='tooltip-title-azure'>Build Time</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Build time." +
        "<br />" +
        "<br />";

    private string BuildServerTitle =
    $"<em><strong><span class='tooltip-title-azure'>Build Server</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Name of the CI/CD server used to build the application" +
        "<br />" +
        "<br />";

    private string BuildUserTitle =
    $"<em><strong><span class='tooltip-title-azure'>Build User</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "User that had triggered the build process." +
        "<br />" +
        "<br />";

}
