﻿@using M2FDto
@using M2FDto.About

@*
    ENVIRONMENT INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-leaf" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">Environment Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span style="font-size: medium;"><a href="https://docs.microsoft.com/en-us/dotnet/api/system.environment?view=netcore-3.1" target="_blank">MSDN: System.Environment</a></span>
    </Column>
</Row>

<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.commandline?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CommandLineTitle" style="margin-top:10px;">
        <div class="col-sm">
            <i class="fas fa-code fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Command Line</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light" style="max-width:100px;word-wrap:break-word;">@aboutInfo.EnvironmentInformation.CommandLine</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.currentdirectory?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CurrentDirectoryTitle">
        <div class="col-sm">
            <i class="fas fa-folder fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Current Directory</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.CurrentDirectory</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.currentmanagedthreadid?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@CurrentManagedThreadIdTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Current Managed Thread Id</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.CurrentManagedThreadId</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.is64bitoperatingsystem?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@Is64BitOperatingSystemTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Is 64 Bit Operating System</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.Is64BitOperatingSystem</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.is64bitprocess?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@Is64BitProcessTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Is 64 Bit Process</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.Is64BitProcess</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.machinename?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@MachineNameTitle">
        <div class="col-sm">
            <i class="fas fa-server fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Machine Name</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.MachineName</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.osversion?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OSVersionTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">OS Version</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.OSVersion</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.processorcount?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@ProcessorCountTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Processor Count</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.ProcessorCount</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.systemdirectory?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@SystemDirectoryTitle">
        <div class="col-sm">
            <i class="fas fa-folder fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">System Directory</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.SystemDirectory</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.systempagesize?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@SystemPageSizeTitle">
        <div class="col-sm">
            <i class="fas fa-th fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">System Page Size</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.SystemPageSize</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.userdomainname?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@UserDomainNameTitle">
        <div class="col-sm">
            <i class="fas fa-sitemap fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">User Domain Name</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.UserDomainName</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.username?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@UserNameTitle">
        <div class="col-sm">
            <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">User Name</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.UserName</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.userinteractive?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@UserInteractiveTitle">
        <div class="col-sm">
            <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">User Interactive</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.UserInteractive</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.version?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@EnvironmentVersionTitle">
        <div class="col-sm">
            <i class="fas fa-file fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Version</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.Version</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.environment.workingset?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@WorkingSetTitle">
        <div class="col-sm">
            <i class="fas fa-th fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Working Set</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.EnvironmentInformation.WorkingSet</span>
        </div>
    </div>
</a>

@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // ENVIRONMENT INFORMATION

    private string CommandLineTitle =
$"<em><strong><span class='tooltip-title-azure'>Command Line</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string CurrentDirectoryTitle =
    $"<em><strong><span class='tooltip-title-azure'>Current Directory</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string CurrentManagedThreadIdTitle =
    $"<em><strong><span class='tooltip-title-azure'>Current Managed Thread Id</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string Is64BitOperatingSystemTitle =
    $"<em><strong><span class='tooltip-title-azure'>Is 64 Bit Operating System</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string Is64BitProcessTitle =
    $"<em><strong><span class='tooltip-title-azure'>Is 64 Bit Process</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string MachineNameTitle =
    $"<em><strong><span class='tooltip-title-azure'>Machine Name</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string OSVersionTitle =
    $"<em><strong><span class='tooltip-title-azure'>OS Version</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string ProcessorCountTitle =
    $"<em><strong><span class='tooltip-title-azure'>Processor Count</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string SystemDirectoryTitle =
    $"<em><strong><span class='tooltip-title-azure'>System Directory</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string SystemPageSizeTitle =
    $"<em><strong><span class='tooltip-title-azure'>System Page Size</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string UserDomainNameTitle =
    $"<em><strong><span class='tooltip-title-azure'>User Domain Name</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string UserInteractiveTitle =
    $"<em><strong><span class='tooltip-title-azure'>User Interactive</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string UserNameTitle =
    $"<em><strong><span class='tooltip-title-azure'>User Name</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string EnvironmentVersionTitle =
    $"<em><strong><span class='tooltip-title-azure'>Version</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

    private string WorkingSetTitle =
    $"<em><strong><span class='tooltip-title-azure'>Working Set</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
    "<br />" +
    "<br />";

}
