﻿@using M2FDto
@using M2FDto.About

@*
    INSTALLATION PACKAGE INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-box-open" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">Installation Package Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

    </Column>
</Row>

<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@InstallationPackageBasePathTitle" style="margin-top:10px;">
    <div class="col-sm">
        <i class="fas fa-road fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Installation Package Base Path</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.InstallationPackageInformation.InstallationPackageBasePath</span>
    </div>
</div>

@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    private string InstallationPackageBasePathTitle =
        $"<em><strong><span class='tooltip-title-azure'>Installation Package Base Path</span></strong /></em>" +
        "<br />" +
        "<br />" +
        "Base path of the installation package on which this application belongs to." +
        "<br />" +
        "<br />";
}
