﻿@using M2FDto
@using M2FDto.About

@*
    LOGGED USER INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">User Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

    </Column>
</Row>

<a target="_blank" href="https://docs.microsoft.com/it-it/dotnet/api/microsoft.aspnetcore.http.httpcontext.user?view=aspnetcore-5.0">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@LoggedUserTitle" style="margin-top:10px;">
        <div class="col-sm">
            <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Logged User</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.LoggedUserInformation.LoggedUser</span>
        </div>
    </div>
</a>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@DistinguishedNameTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Distinguished Name</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.DistinguishedName</span>
    </Column>
</Row>


<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@GivenNameTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Given Name</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.GivenName</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@MailTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-at fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Mail</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.Mail</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@NameTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Name</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.Name</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@SAMAccountNameTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">sAMAccountName</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.SAMAccountName</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@SnTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">sn</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.Sn</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@UserPrincipalNameTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-user fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">User Principal Name</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span class="badge badge-light">@aboutInfo.LoggedUserInformation.UserPrincipalName</span>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@MerberOfTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-users fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Merber Of</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

        <Button Color="Color.Primary" Clicked="@ShowModal"><i class="fas fa-users fa-1x"></i> Show All MemberOf</Button>

        <Modal @ref="modalRef">
            <ModalBackdrop />
            <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
                <ModalHeader>
                    <ModalTitle>'@this.aboutInfo.LoggedUserInformation.LoggedUser' Member Of</ModalTitle>
                    <CloseButton Clicked="@HideModal" />
                </ModalHeader>
                <ModalBody>
                    @{
                        <DataGrid TItem="MemberOfInfoDto"
                                  Data="@this.aboutInfo.LoggedUserInformation.MemberOf"
                                  ShowPager="true" ShowCaptions="true" ShowPageSizes="true" PageSize="10"
                                  FilterMethod="DataGridFilterMethod.Contains">
                            <DataGridColumns>
                                <DataGridColumn TItem="MemberOfInfoDto" Field="@nameof(MemberOfInfoDto.DistinguishedName)" Caption="Distinguished Name"
                                                Editable="false"
                                                Filterable="true"
                                                Sortable="true" />
                            </DataGridColumns>
                        </DataGrid>
                    }
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Danger" Clicked="@HideModal"><i class="fas fa-times-circle fa-1x"></i> Close</Button>
                </ModalFooter>
            </ModalContent>
        </Modal>
    </Column>
</Row>

<Row data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@RolesTitle">
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-users fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Roles</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

        <Button Color="Color.Primary" Clicked="@ShowModalRoles"><i class="fas fa-users fa-1x"></i> Show All Roles</Button>

        <Modal @ref="modalRefRoles">
            <ModalBackdrop />
            <ModalContent IsCentered="true" Centered="true" Size="ModalSize.Large">
                <ModalHeader>
                    <ModalTitle>'@this.aboutInfo.LoggedUserInformation.LoggedUser' Roles</ModalTitle>
                    <CloseButton Clicked="@HideModalRoles" />
                </ModalHeader>
                <ModalBody>
                    @{
                        <DataGrid TItem="RoleInfoDto"
                                  Data="@this.aboutInfo.LoggedUserInformation.Roles"
                                  ShowPager="true" ShowCaptions="true" ShowPageSizes="true" PageSize="10"
                                  FilterMethod="DataGridFilterMethod.Contains">
                            <DataGridColumns>
                                <DataGridColumn TItem="RoleInfoDto" Field="@nameof(RoleInfoDto.RoleName)" Caption="Role Name"
                                                Editable="false"
                                                Filterable="true"
                                                Sortable="true" />
                            </DataGridColumns>
                        </DataGrid>
                    }
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Danger" Clicked="@HideModalRoles"><i class="fas fa-times-circle fa-1x"></i> Close</Button>
                </ModalFooter>
            </ModalContent>
        </Modal>
    </Column>
</Row>


@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // LOGGED USER INFORMATION

    private string LoggedUserTitle =
$"<em><strong><span class='tooltip-title-azure'>Logged User</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";

    private string DistinguishedNameTitle =
$"<em><strong><span class='tooltip-title-azure'>Distinguished Name</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string GivenNameTitle =
$"<em><strong><span class='tooltip-title-azure'>Given Name</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string MailTitle =
$"<em><strong><span class='tooltip-title-azure'>Mail</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string NameTitle =
$"<em><strong><span class='tooltip-title-azure'>Name</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string SAMAccountNameTitle =
$"<em><strong><span class='tooltip-title-azure'>sAMAccountName</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string SnTitle =
$"<em><strong><span class='tooltip-title-azure'>sn</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string UserPrincipalNameTitle =
$"<em><strong><span class='tooltip-title-azure'>User Principal Name</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";


    private string MerberOfTitle =
$"<em><strong><span class='tooltip-title-azure'>Member Of</span></strong /></em>" +
"<br />" +
"<br />" +
"List of Active Directory groups user belongs to." +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";

    private string RolesTitle =
$"<em><strong><span class='tooltip-title-azure'>Roles</span></strong /></em>" +
"<br />" +
"<br />" +
"List of applicative roles." +
"<br />" +
"<br />";

    // reference to the modal component
    private Modal modalRef;

    private void ShowModal()
    {
        modalRef.Show();
    }

    private void HideModal()
    {
        modalRef.Hide();
    }

    // reference to the modal component
    private Modal modalRefRoles;

    private void ShowModalRoles()
    {
        modalRefRoles.Show();
    }

    private void HideModalRoles()
    {
        modalRefRoles.Hide();
    }

}
