﻿@using M2FDto
@using M2FDto.About

@*
    SOURCE CODE REPOSITORY INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-code-branch" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">Repository Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">

    </Column>
</Row>
<a href="@aboutInfo.SourceCodeRepositoryInformation.RepositoryUrl" target="_blank">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@RepositoryUrlTitle" style="margin-top:10px;">
        <div class="col-sm">
            <i class="fas fa-link fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Repository Url</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.SourceCodeRepositoryInformation.RepositoryUrl</span>
        </div>
    </div>
</a>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@RepositoryNameTitle">
    <div class="col-sm">
        <i class="fas fa-database fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Repository Name</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.SourceCodeRepositoryInformation.RepositoryUrl.Split("/").LastOrDefault()</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@BranchNameTitle">
    <div class="col-sm">
        <i class="fas fa-code-branch fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Branch Name</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.SourceCodeRepositoryInformation.BranchName</span>
    </div>
</div>
<a href="@aboutInfo.SourceCodeRepositoryInformation.LastOriginCommit" target="_blank">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@LastOriginCommitTitle">
        <div class="col-sm">
            <i class="fas fa-link fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Last Origin Commit</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">Go to repository commit: @aboutInfo.SourceCodeRepositoryInformation.OriginCommit</span>
        </div>
    </div>
</a>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OriginCommitTitle">
    <div class="col-sm">
        <i class="fas fa-code fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Origin Commit</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.SourceCodeRepositoryInformation.OriginCommit</span>
    </div>
</div>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@LocalCommitTitle">
    <div class="col-sm">
        <i class="fas fa-code fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Local Commit</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.SourceCodeRepositoryInformation.LocalCommit</span>
    </div>
</div>

@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // SOURCE CODE REPOSITORY INFORMATION

    private string RepositoryUrlTitle =
    $"<em><strong><span class='tooltip-title-azure'>Repository URL</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Remote location of the GIT repository on which source code belogns to." +
    "<br />" +
    "<br />";

    private string RepositoryNameTitle =
    $"<em><strong><span class='tooltip-title-azure'>Repository Name</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Name of the GIT repository on which source code belogns to." +
        "<br />" +
        "<br />";

    private string BranchNameTitle =
    $"<em><strong><span class='tooltip-title-azure'>Branch Name</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Branch name of the GIT repository on which source code belogns to." +
        "<br />" +
        "<br />";

    private string LastOriginCommitTitle =
    $"<em><strong><span class='tooltip-title-azure'>Last Origin Commit</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open information page about the commit that had generated this assembly." +
        "<br />" +
        "<br />";

    private string OriginCommitTitle =
    $"<em><strong><span class='tooltip-title-azure'>Origin Commit</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "The commit that had generated this assembly." +
        "<br />" +
        "<br />";

    private string LocalCommitTitle =
    $"<em><strong><span class='tooltip-title-azure'>Local Commit</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "The commit that had generated this assembly." +
        "<br />" +
        "<br />";

}
