﻿@using M2FDto
@using M2FDto.About

@*
    RUNTIME INFORMATION
*@
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <i class="fas fa-microchip" style="width:20px;margin-top:5px;margin-bottom:5px;font-size:40px;"></i>
        <span style="font-size: xx-large; margin-left:30px;">Runtime Information</span>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <span style="font-size: medium;"><a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation?view=netcore-3.1">MSDN: System.Runtime.InteropServices.RuntimeInformation</a></span>
    </Column>
</Row>
<div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OSTitle" style="margin-top:10px;">
    <div class="col-sm">
        <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
        <span class="">Operating System</span>
    </div>
    <div class="col-sm">
        <span class="badge badge-light">@aboutInfo.RuntimeInformation.OS</span>
    </div>
</div>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.osarchitecture?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OSArchitectureTitle">
        <div class="col-sm">
            <i class="fas fa-archway fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">OS Architecture</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.RuntimeInformation.OSArchitecture</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.osdescription?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@OSDescriptionTitle">
        <div class="col-sm">
            <i class="fas fa-microchip fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">OS Description</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.RuntimeInformation.OSDescription</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.frameworkdescription?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@FrameworkDescriptionTitle">
        <div class="col-sm">
            <i class="fas fa-atom fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Framework Description</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.RuntimeInformation.FrameworkDescription</span>
        </div>
    </div>
</a>
<a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.processarchitecture?view=netcore-3.1">
    <div class="row" data-toggle="tooltip" data-placement="left" data-html="true" data-template="@tooltipCustomTemplate" title="@ProcessArchitectureTitle">
        <div class="col-sm">
            <i class="fas fa-archway fa-1x" style="width:20px;margin-top:5px;margin-bottom:5px;color:black;"></i>
            <span class="">Process Architecture</span>
        </div>
        <div class="col-sm">
            <span class="badge badge-light">@aboutInfo.RuntimeInformation.ProcessArchitecture</span>
        </div>
    </div>
</a>

@code {

    [Parameter]
    public string tooltipCustomTemplate { get; set; }

    [Parameter]
    public AboutDto aboutInfo { get; set; }

    // RUNTIME INFORMATION

    private string FrameworkDescriptionTitle =
$"<em><strong><span class='tooltip-title-azure'>Framework Description</span></strong /></em>" +
"<br />" +
"<br />" +
"Click the link to open MSDN related article." +
"<br />" +
"<br />";

    private string OSArchitectureTitle =
    $"<em><strong><span class='tooltip-title-azure'>OS Architecture</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string OSDescriptionTitle =
    $"<em><strong><span class='tooltip-title-azure'>OS Description</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string ProcessArchitectureTitle =
    $"<em><strong><span class='tooltip-title-azure'>Process Architecture</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Click the link to open MSDN related article." +
        "<br />" +
        "<br />";

    private string OSTitle =
    $"<em><strong><span class='tooltip-title-azure'>OS</span></strong /></em>" +
    "<br />" +
    "<br />" +
    "Internally computed property." +
        "<br />" +
        "<br />" +
    "No MSDN article available." +
            "<br />" +
        "<br />";

}
